
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/piks/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/piks/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Finance main page
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css">
  
  
  <!-- CSS Files -->
  <link href="../assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
  
  <link rel="stylesheet" href="../dist/css/adminlte.min.css">

  
  <link rel="stylesheet" href="../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

   
  
  <link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css'rel='stylesheet'>
  
  
  	<style>	
		#popup1 { display:none; }
			@media screen and (min-width: 676px) {
			.modal-dialog {
			  max-width: 70%;
			}
			
		}
		
		#popupfeerefunds { display:none; }
			@media screen and (min-width: 676px) {
			.modal-dialog1 {
			  max-width: 60%;
			}
			
		}
		#popupfeestructure{ display:none; }
			@media screen and (min-width: 676px) {
			.modal-dialog2 {
			  max-width: 70%;
			}
			
		}
		#popupfeebalances{ display:none; }
			@media screen and (min-width: 676px) {
			.modal-dialog3 {
			  max-width: 70%;
			}
			
		}
		#popupnewpledge{ display:none; }
			@media screen and (min-width: 676px) {
			.modal-dialog4 {
			  max-width: 50%;
			}
			
		}
		#popupeditmembers{ display:none; }
			@media screen and (min-width: 676px) {
			.modal-dialog8 {
			  max-width: 70%;
			}
			
		}
		#popupnewgroup{ display:none; }
			@media screen and (min-width: 676px) {
			.modal-dialog9 {
			  max-width: 40%;
			}
			
		}
		
		
		
	</style>
  
</head>


<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      
	  
      <div class="logo"><a href="" class="simple-text logo-normal">
          Shule one
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          
		  <li class="nav-item">
            <a class="nav-link" href="./dashboard.html">
              <i class="material-icons">Home</i>
              <p>Home</p>
            </a>
          </li>
		  
		  <li class="nav-item active  ">
            <a class="nav-link" href="./dashboard.html">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item ">
            <a id="defaultModalbtn" class="nav-link"  href="#">
              <i class="material-icons">money</i>
              <p>Pay fees</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="">
              <i class="material-icons">content_paste</i>
              <p>Payment Vouchers</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" id="defaultModalbtnfeebalances"  href="#">
              <i class="material-icons">library_books</i>
              <p>Generate Balances</p>
            </a>
          </li>
          
        </ul>
      </div>
    </div>
	


    <div class="main-panel">
      <!-- Navbar -->
       <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute  ">
        <div class="container-fluid">
          
		<div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:;">Dashboard</a>
          </div>
		    
		  
		  
		<div class="collapse navbar-collapse justify-content-start">
					<!-- Left navbar links -->
					<ul class="navbar-nav">
					  

					 <li class="nav-item dropdown">
							<a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Quickview</a>
						  
						  <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
							  <li><a href="accountshome.html" class="dropdown-item">Home</a></li>
							  <li><a href="#" id="defaultModalbtnfeestructure1" class="dropdown-item">Set Fee Structure</a></li>	
							  <li><a href="#" id="defaultModalbtnfeebalances2" class="dropdown-item">Student Balances</a></li>
							  <li><a href="#" id="defaultModalbtnupdatefeebalance" class="dropdown-item">Update Fee Balances</a></li>
							  <li><a href="#" class="dropdown-item">Student Statements</a></li>
							  <li><a href="#" id="defaultModalbtnreceipts" class="dropdown-item">Receipts</a></li>
							  <li><a href="#" id="defaultModalbtngroupreceipts" class="dropdown-item">Group Receipts</a></li>
							  
							  <li><a href="#" class="dropdown-item">Fee Reminders</a></li>
							  <li><a href="#" id="defaultModalbtnfeetextreminders" class="dropdown-item">Fee Reminders Texts</a></li>
							  <li><a href="schoolaccountgroups.html" class="dropdown-item">School Accounts Group</a></li>
							  <li><a href="#" class="dropdown-item">Close</a></li>

						   </ul>
					 </li>
				
						<li class="nav-item dropdown">
								<a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Banking</a>
							  <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
								  <li><a href="listofaccounts.html" class="dropdown-item">List</a></li>
								  <li><a href="#" class="dropdown-item">Update Account Opening Balance</a></li>	
								  <li><a href="#" id="defaultModalbtntransferfunds" class="dropdown-item">Transfer Funds</a></li>	
                                  <li><a href="#" id="defaultModalbtnbankreconciliation" class="dropdown-item">Bank Reconciliation</a></li>	
								  
								</ul>
						</li>
				
						<li class="nav-item dropdown">
								<a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Transactions</a>
								<ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
								  <li><a href="listofaccounts.html" class="dropdown-item">Account Transaction</a></li>
								  <li><a href="#" class="dropdown-item">Balance per Votehead</a></li>
								  <li><a href="#" id="defaultModalbtnstudentinvoicing" class="dropdown-item">Student Invoicing</a></li>	
								  
								</ul>
						 </li>
				 
						 <li class="nav-item dropdown">
								<a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Financial Reports</a>
								<ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
								  <li><a href="#" class="dropdown-item">Income and Expenditure</a></li>
								  <li><a href="#" class="dropdown-item">Profit and Loss</a></li>
								  <li><a href="#" class="dropdown-item">Trial Balance</a></li>
								  <li><a href="#" class="dropdown-item">Fee Payments</a></li>
								  <li><a href="#" class="dropdown-item">Notes To The BalanceSheet</a></li>
								  <li><a href="#" class="dropdown-item">Balancesheet</a></li>
								  <li><a href="#" class="dropdown-item">Ledger</a></li>
								  <li><a href="#" class="dropdown-item">Accounts Module Logs</a></li>
								</ul>
						 </li>

				
				
					</ul>
		</div>
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
          
		  <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          
		  <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form">
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
              </div>
            </form>
			
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="javascript:;">
                  <i class="material-icons">dashboard</i>
                  <p class="d-lg-none d-md-block">
                    Stats
                  </p>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">notifications</i>
                  <span class="notification">5</span>
                  <p class="d-lg-none d-md-block">
                    Some Actions
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Mike John responded to your email</a>
                  <a class="dropdown-item" href="#">You have 5 new tasks</a>
                  <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                  <a class="dropdown-item" href="#">Another Notification</a>
                  <a class="dropdown-item" href="#">Another One</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">
                    Account
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                  <a class="dropdown-item" href="#">Profile</a>
                  <a class="dropdown-item" href="#">Settings</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Log out</a>
                </div>
              </li>
			  
            </ul>
			
          </div>
        </div>
      </nav>
      
	  
	  
	  
	  
	  <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          
		  
		  
		  <div class="card">			
	    <div class="row">
		
		              <div class="col-md-1">
                         <div class="card-header"  >					  
					 			   <a href="#" class="main">
						  <p> <img src="../assets/piks/save_32.png" alt="">
						  </p></a>
							</div>						
					  </div>

					  <div class="col-md-10">
							  <div class="card-header card-header-primary" style="max-height:50px" >
								<h5 style="color:white;"><strong>FEE GROUPS</strong></h5>
							  </div>
					  </div>
					  
					  <div class="col-md-1">
                         <div class="card-header"  >					  
					 			   <a id="defaultModalbtnnewgroup" href="#" class="main">
						  <p> <img src="../assets/piks/addexam.png" alt="">
						  </p></a>
							</div>						
					  </div>
	  
	  </div>
          
		  
								  <div class="row" style="margin-top:-20px">
						<div class="col-md-12">  
	   
                <table id="example1" class="table table-bordered table-striped">
              <thead>
                  <tr>
                      <th > <input type="checkbox"></th>
                      <th >
                           Group 
                      </th>
                      <th >
                           Number
                      </th>
                      <th >
                           Action
                      </th>
                      
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      				                      <td><input type="checkbox"></td>

                      <td>
                       wdfqferwg2r5 
                      </td>
                      <td>
                     wqfqewgggw
                      </td>
                      
					  <td class="project-actions text-left">
                          
                          <a class="btn btn-info btn-sm" href="#" id="defaultModalbtneditmembers">
                              <i class="fas fa-plus">
                              </i>
                              
                          </a>
                          <a class="btn btn-danger btn-sm" href="#">
                              <i class="fas fa-trash">
                              </i>
                              
                          </a>
                      </td>
                      
                  </tr>
				  <tr>
                      				                      <td><input type="checkbox"></td>

                      <td>
                        
                      </td>
                      <td>
                     
                      </td>
                      <td>
                          
                      </td>
                      
                  </tr>
				  <tr>
                      				                      <td><input type="checkbox"></td>

                      <td>
                        
                      </td>
                      <td>
                     
                      </td>
                      <td>
                          
                      </td>
                      
                  </tr>
				  <tr>
                      				                      <td><input type="checkbox"></td>

                      <td>
                        
                      </td>
                      <td>
                     
                      </td>
                      <td>
                          
                      </td>
                      
                  </tr>
              </tbody>
          </table>
       				
				</div>
			
	  </div>
	 
	</div>
		 
		  </div>
	
			<div id="popupeditmembers" class="modal">
			<div class="modal-dialog8">
				<div class="modal-content">
					
					<div class="modal-header" style="background-color:#9C27B0">
						<h5 class="modal-title" style="color:white">FEE GROUPS</h5>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					
					<div class="content">
        <div class="container-fluid">

	        <div class="row" style="margin-top:8px">
	 

						<div class="col-md-4">
						   
					 <div class="floating-form-group">
							<select class="floating-select" onclick="this.setAttribute('value', this.value);" value="">
												
										<option value=""></option>
								<option value="1">Form 1</option>
								<option value="2">Form 2</option>
								<option value="3">Form 3</option>
								<option value="4">Form 4 </option>
								<option value="5">Transferred</option>
								<option value="5">Allumni</option>

									</select>
									<span class="highlight"></span>
									<span class="bar"></span>
									<label class="label2">Copy Students from classes</label>

						</div>
						</div>
		                    <div class="col-md-6">                       
									 <div class="floating-form-group">
							<input class="floating-form-control" type="email"  placeholder=" ">
							<span class="highlight"></span>
							<label   class="label1">Search Student</label>
					   </div>
								</div>
							 <div class="col-md-2">
					 
								<h5 style="font-size:40px;color:green;margin-top:-6px"><strong>182 </strong></h5>
							 
			 </div>
						
							 
	        </div>
			
	        
	            <div class="row" >
					  <div class="card-body" >
								<table id="example1" class="table  table-striped">
								  <thead>
                  <tr>
				  <th > <input type="checkbox"></th>
                    <th>ADM</th>
					 <th>Name</th>
					 <th>Class</th>

					
                  </tr>
              </thead>
              <tbody>
                  
                  
				  <tr>
				                      <td><input type="checkbox"></td>

                      <td>
                       ddwsvfr  
                      </td>
                      <td>
					  dsfgfg
                      </td>
                       <td>
					  dsfgfg
                      </td>
                  </tr>
				  <tr>
				                      <td><input type="checkbox"></td>

                      <td>
                        fegfrfg 
                      </td>
                      <td> 
                      dfdafr
                      </td>
                       <td>
					  dsfgfg
                      </td>
                  </tr>
				  
              </tbody>
          </table>
							  </div>
	                    </div>
						
						
						<div class="modal-footer">
											<button type="button" class="btn btn-primary" data-dismiss="modal">Process</button>
								</div>
        </div>
      </div>
	  </div>
					
								
					
				</div>
			</div>
			
		    
		  <div id="popupnewgroup" class="modal">
			<div class="modal-dialog9">
				<div class="modal-content">
					
					<div class="modal-header" style="background-color:#9C27B0;">
						<h5 class="modal-title" style="color:white">CONFIRMATION</h5>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					
					<div class="content">
        <div class="container-fluid">
          <div class="row" >
		    
				  <div class="col-md-12">
                    
						<div class="card-body">
						  <form>
							
								<div class="col-md-12">                       
									 <div class="floating-form-group">
							<input class="floating-form-control" type="email"  placeholder=" ">
							<span class="highlight"></span>
							<label   class="label1">Group Name</label>
					   </div>
								</div>

						  </form>
						</div>
				  </div>
				 
				
			
        </div>
      </div>
					
						<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
						</div>
					</div>
				</div>
			</div>
		  
		  
		
      <footer class="footer" style="margin-top:-60px">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              
              
              <li>
                <a href="https://www.creative-tim.com/license">
					Talk to us
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script><i class="material-icons"></i> Powered by
            <a href="https://www.creative-tim.com" target="_blank">Walgotech solutions</a> 
          </div>
        </div>
      </footer>
	  
	  
    </div>
  </div>
  
  
   <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../plugins/moment/moment.min.js"></script>

  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap-material-design.min.js"></script>
  <script src="../assets/js/plugins/moment.min.js"></script>
  <!--  Plugin for Sweet Alert -->
  <script src="../assets/js/plugins/sweetalert2.js"></script>
  <!-- Forms Validations Plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  <!-- Library for adding dinamically elements -->
  <script src="../assets/js/plugins/arrive.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="../assets/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <script src="../assets/js/core/bootstrap-material-design.min.js"></script>
  
  
<!-- DataTables  & Plugins -->
<script src="../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

<script src="../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../plugins/jszip/jszip.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.print.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/b-2.0.0/b-html5-2.0.0/b-print-2.0.0/datatables.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
  

	
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	
	 <script src="../assets/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>
<script>
$(document).ready(function(){
	$('#defaultModalbtn').click(function(){
  		$('#popup1').modal({
    		backdrop: 'static',
    		keyboard: false
		});
	});
	
	$('#defaultModalbtn1').click(function(){
  		$('#popup1').modal({
    		backdrop: 'static',
    		keyboard: false
		});
	});
});
$(document).ready(function(){
	$('#defaultModalbtnfeerefunds').click(function(){
  		$('#popupfeerefunds').modal({
    		backdrop: 'static',
    		keyboard: false
		});
	});
	});
	
$(document).ready(function(){
	$('#defaultModalbtnfeestructure').click(function(){
  		$('#popupfeestructure').modal({
    		backdrop: 'static',
    		keyboard: false
		});
	});
	});
	$(document).ready(function(){
	$('#defaultModalbtnfeebalances').click(function(){
  		$('#popupfeebalances').modal({
    		backdrop: 'static',
    		keyboard: false
		});
	});
	$('#defaultModalbtnfeebalances1').click(function(){
  		$('#popupfeebalances').modal({
    		backdrop: 'static',
    		keyboard: false
		});
	});
	
	});
	
	$(document).ready(function(){
	$('#defaultModalbtnnewpledge').click(function(){
  		$('#popupnewpledge').modal({
    		backdrop: 'static',
    		keyboard: false
		});
	});
	});
	$(document).ready(function(){
	$('#defaultModalbtneditmembers').click(function(){
  		$('#popupeditmembers').modal({
    		backdrop: 'static',
    		keyboard: false
		});
	});
	});
	$(document).ready(function(){
	$('#defaultModalbtnnewgroup').click(function(){
  		$('#popupnewgroup').modal({
    		backdrop: 'static',
    		keyboard: false
		});
	});
	});
	
	
	
</script>



  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
          if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
            $('.fixed-plugin .dropdown').addClass('open');
          }

        }

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>
</body>

</html>